<footer class="footer">
    <div class="footer-top">
        <div class="company-info">
            <h3>Pavan IT Solutions Pvt Ltd</h3>
            <p>Innovating with passion. Serving with purpose.</p>
        </div>

        <div class="support-links">
            <h3>Support</h3>
            <ul>
                <li><a routerLink="/contact">Help & Contact</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms of Service</a></li>
            </ul>
        </div>

        <div class="social-icons">
            <h3>Connect</h3>
            <a href="#"><mat-icon>facebook</mat-icon></a>
            <a href="#"><mat-icon>twitter</mat-icon></a>
            <a href="#"><mat-icon>linkedin</mat-icon></a>
        </div>
    </div>

    <div class="footer-bottom">
        <p>&copy; 2025 Pavan IT Solutions Pvt Ltd. All rights reserved.</p>
    </div>
</footer>